---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<header class="header">
		SEO-UP
	</header>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		min-height: 100vh;
		font-family: Arial, Helvetica, sans-serif;
		background: linear-gradient(rgb(230, 167, 255), rgb(212, 109, 253));
		overflow: hidden;
	}

	.header {
		margin: auto;
		padding: 1vh 1vw;
		background-color: rgb(212, 109, 253);
		font-weight: bold;
		text-align: center;
		word-wrap: break-word;
		color: white;
		border-radius: 3px;
	}

	@media screen and (min-width: 601px) {
		.header {
			font-size: 2vw;
			width: 8vw;
			height: 2vw;
		}
	}

	@media screen and (max-width: 600px) {
		.header {
			font-size: 30px;
			width: 120px;
			height: 30px;
		}
	}
</style>
