---
import Layout from '../layouts/Layout.astro';
---

<Layout title="SEO-UP">
	<main>
		<div id="inputenter">
			<input class="input" id="input" placeholder="Input URL">
			<button id="enter">Enter</button>
		</div>
		<script>
			import "../scripts/enter.ts";
		</script>
	</main>
</Layout>

<style>
	#inputenter {
		position: absolute;
		width: 100%;
		top: 50%;
		right: 50%;
		transform: translate(35%, -50%);
	}

	.input {
		margin: 0px 10px 0px 50%;
		border: 1px solid grey;
		border-radius: 5px;
		width: 25%;
		outline: 0;
		background-color: #f5f5f5;
		text-align: left;
  	}

	.input:hover, .input:focus {
		border: 1.5px solid #009688;
		background-color: white;
  	}

	#enter {
		width: 8%
	}

	#enter:active {
		color: gray;
	}
</style>